body{
    margin: 0;
}

.wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.hero-container{
    display: flex;
    width: 1000px;
    margin: 25px;
    flex-direction: column;
}

.display-container{
    background-color: rgb(17, 8, 0);
    height: 500px;
    border-radius: 10px;
}

@media only screen and (max-width: 566px) {
    .display-container{
        min-height: 650px;
    }
}

.calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgb(34, 119, 34);
    padding-bottom: 20px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 10px solid rgb(218, 171, 44);
}

.bottom-display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.display-box{
    background-color: white;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 25px;
}

.hand-display{
    display: flex;
}

.hand-display .hands{
    margin: auto;
}

.hands .player-dealer-name {
    font-size: 1em;
    font-weight: 500;
}

.hands .hand-value{
    font-size: 2em;
    font-weight: 600;
}

.player-choice-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-choice-display .next-move-text{
    font-size: 1em;
    font-weight: 500;
}

.player-choice-display .player-next-move{
    font-size: 1.6em;
    font-weight: 600;
    margin: 5px;
}

.reset-hand{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 65px;
    font-weight: 600;
}

.reset-hand button{
    background-color: white;
    border: 2px solid rgb(114, 114, 114);
    font-size: 0.9em;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}

.how-to-use{
    margin-top: 50px;
}

.how-to-use p{
    margin-top: 10px;
}

.how-to-use li{
    margin: 5px;
    font-weight: 500;
}

.how-it-works{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.how-it-works .video{
    aspect-ratio: 16/9;
}

/*card dropdown*/

.card-list{
    position: absolute;
    z-index: 1;
    background-color: rgba(51, 51, 51, 90%);
    display: none;
    flex-wrap: wrap;
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
}

.card-list .card-option{
    background-color: white;
    height: 60px;
    width: 40px;
    margin: 5px;
    border-radius: 4px;
    text-align: center;
    line-height: 60px;
    color: rgb(51, 51, 51);
    font-weight: 500;
    font-size: 1.4em;
    cursor: pointer;
}

.card-list .card-option:hover{
    background-color: rgb(169, 255, 169);
}

/*dealer/player cards*/

.play-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dealer-container{
    padding-top: 10px;
    width: 400px;
    height: 200px;
    border: 6px solid rgba(153, 255, 153, 0.5);
    border-top: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.play-container .title{
    margin-top: 10px;
}

.play-container .title p{
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}

.cards{
    display: flex;
    margin-bottom: 20px;
}

.dropdown{
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 88, 88);
    height: 90px;
    width: 60px;
    border-radius: 5px;
    outline: 2px solid white;
    cursor: pointer;
}

.dropdown .button:hover .plus-image{
    filter: brightness(20%);
}

.dropdown .button:hover .cardText{
    filter: brightness(20%);
}


.dropdown .button:hover svg{
    fill: rgb(46, 46, 46);
}

.cardText{
    display: none;
    color: white;
    margin: auto;
    font-size: 2em;
    font-weight: 600;
}

/*{
    outline: 2px solid red;
}