body{
    margin: 0;
}

.header{
    height: 80px;
    background-color: grey;
}

.wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.hero-container{
    display: flex;
    width: 1200px;
    margin: 25px;
    flex-direction: column;
}

.calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(34, 119, 34);
    padding-bottom: 20px;
    outline: 2px solid rgb(25, 70, 25);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bottom-display{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
    margin-top: 50px;
}

.display-box{
    background-color: white;
    width: 200px;
    height: 100px;
    text-align: center;
}

/*card dropdown*/

.card-list{
    position: absolute;
    z-index: 1;
    background-color: rgba(51, 51, 51, 90%);
    display: none;
    flex-wrap: wrap;
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
}

.card-list .card-option{
    background-color: white;
    height: 60px;
    width: 40px;
    margin: 5px;
    border-radius: 4px;
    text-align: center;
    line-height: 60px;
    color: rgb(51, 51, 51);
    font-weight: 500;
    font-size: 1.4em;
    cursor: pointer;
}

.card-list .card-option:hover{
    background-color: rgb(169, 255, 169);
}

/*dealer/player cards*/

.play-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-container .title{
    margin-top: 10px;
}

.play-container .title p{
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}

.cards{
    display: flex;
}

.dropdown{
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 88, 88);
    height: 90px;
    width: 60px;
    border-radius: 5px;
    outline: 2px solid white;
    cursor: pointer;
}

.dropdown .button:hover .plus-image{
    filter: brightness(20%);
}

.dropdown .button:hover .cardText{
    filter: brightness(20%);
}


.dropdown .button:hover svg{
    fill: rgb(46, 46, 46);
}

.cardText{
    display: none;
    color: white;
    margin: auto;
    font-size: 2em;
    font-weight: 600;
}

/*table line*/

.table-line{
    height: 5px;
    background-color: rgb(25, 70, 25);
    width: 100%;
    margin-top: 20px;
}

/*{
    outline: 2px solid red;
}