<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack Basic Strategy</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <form action="/generate" method="post">
        <select name="dealer-card">
            <option disabled selected value>Dealer Card</option>
            {% for row in cards_dict %}
                <option value = "{{ row }}">{{ row }}</option>
            {% endfor %}
        </select>
        <select name="player-card-1">
            <option disabled selected value>Player Card</option>
            {% for row in cards_dict %}
                <option value = "{{ row }}">{{ row }}</option>
            {% endfor %}
        </select>
        <select name="player-card-2">
            <option disabled selected value>Player Card</option>
            {% for row in cards_dict %}
                <option value = "{{ row }}">{{ row }}</option>
            {% endfor %}
        </select>
        <button type="submit">Enter</button>
    </form>
    <p>{{ test }}</p>
</body>
</html>